
  <div class="row form-group">
    <div class="col">
      <app-invoices-inline-form></app-invoices-inline-form>
    </div>
    
  </div>
  <div class="row form-group">
    <div class="col">
      <app-invoices-grid></app-invoices-grid>
    </div>
  </div>
<div class="row form-group">
    <div class="col">
      <button type="button" (click)="deleteWork()" *ngIf="IService.totalScreen" class="btn btn-danger">Delete work</button>
    </div>
    <div class="col text-right">
      <button type="button" [disabled]="!this.IService.invoicesArray" (click)="Process()"
        class="btn btn-primary ">{{buttonText}}</button>
    </div>
  </div>

  <div class="row form-group">
    <div class="col">
      <!-- <app-wheater></app-wheater> -->
    </div>
  </div>

